body{
    background: no-repeat url("../img/festival3.jpeg") #191919;
    background-position: top;
    background-size: contain;
    backdrop-filter: blur(5px);
}

form{
    font-size : 1.5em;
    padding-top : 5%;
}

.formulaire{
    width: auto;
    margin: auto;
    padding-top : 5%;
    padding-right : 20%;
    padding-left : 20%;
    padding-bottom : 20%;
}

legend{
    font-weight:bold;
    padding-bottom : 2%;
    color : white;
    font-size : 1.6em;
}

label{
    padding-top : 1%;
    padding-left : 20%;
    display: inline-block;
    width : 36%;
    text-align : left; 
    font-weight:bold;
}

fieldset{
    background-color: RGBA(255, 255, 255, 0.1);
}

.title{
    padding-top : 1%;
    padding-bottom : 1%;
    font-size : 1.1em;
    font-weight:bold;
    color : #000;
    text-decoration : underline;
}

.button{
    grid-column : 2;
    border-radius:12px 0 12px 0;
	background: #000;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
    padding: 1% 1% 1% 1%;
    border:1px solid #ccc;
    margin-top : 2%;
}

.button:hover{
    border-radius:12px 0 12px 0;
	background: #F054B7;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding: 1% 1% 1% 1%;
    border:1px solid #ccc;
}

.button2{
    grid-column : 1;
    border-radius:12px 0 12px 0;
	background: #000;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
    padding: 1% 1% 1% 1%;
    margin-left : 67%;
    border:1px solid #ccc;
    margin-top : 2%;
}

.button2:hover{
    border-radius:12px 0 12px 0;
	background: #3EB127;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding: 1% 1% 1% 1%;
    border:1px solid #ccc;
}
.error {
    color: red;
    text-align: right;
    padding-right: 10%;
}