body{
    background-color: white;
}
.menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family : "Gill Sans", sans-serif;
    position : fixed;
    padding-top : 0.5%;
    width : 100%;
    height : 4%;
    text-align : center;
    background-color: #355D85;
    
}
a{
    color : black;
 }
.lien{
    padding : 3%;
    width : 100px;
    text-decoration:none;
    color : white;
}
.lien:hover{
    text-decoration: underline white;
    transform: scale(1.15);
}
.lien{
    padding : 3%;
    width : 100px;
    text-decoration:none;
    color : white;
}
.lien:hover{
    text-decoration: underline white;
    transform: scale(1.15);
}

.detail{
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.info{
    width: 70%;
    margin-top : 3%;
    font-family : Marker Felt, fantasy;
    margin-left : 2%;
}
h1{
    color : rgb(12, 12, 12);
    font-size : 35px;
}
.titre{
    color : rgb(12, 12, 12); 
    font-size : 25px;
}
.donnee{
    font-size : 20px;
    color : rgb(63, 62, 62);
}
a{
    font-size : 15px;
}

audio{
    width : 400px;
    height : 20px;
}
.photo{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column : 2;
    margin-top : 3%;
}
img{
    max-width : 600px;
}
.photoUn{
    grid-column : 2;
}
.photoDe{
    grid-column : 2;
    grid-row : 2;
}
