
/* HAUT DE PAGE */
body{
    margin : 0 auto;
    background-color : black;
}
header{
    background: no-repeat center 0 fixed url("../img/festival3.jpeg");
    background-position: center center;
    background-size: cover;
    min-height: 900px;
}
main{
    min-height: 900px;
}
.title{
    padding-top : 14%;
    text-align : center;
}

.info{
    margin-left : 15%;
    margin-right : 15%;
    margin-top : 1%;
    font-family : "Gill Sans", sans-serif;
    text-align : center;
}
.info_who{
    font-size : 30px;
    font-weight: bold;
    background-color : #F0E91C;
    color : #000;
}
.description{
    padding-top : 2%;
    font-size : 20px;
    color : #fff;
}

/* PARTI CANDIDAT */

.registred{
    margin-top : 4%;
    width: 100%;
    font-size : 1.7em;
    font-weight:bold;
    background-color : #F06154;
    color : #000;
    text-align : center;
    font-weight: bold;
    font-family : "Gill Sans", sans-serif;
    
}
.affiche{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top : 1%;
    margin-bottom : 2%;
}
.im{
    padding : 2%;
    width : 13em;
    margin : auto;
}
a{
    text-decoration : none;
    color : #fff;
}


/* PARTI INSCRIPTION */

.zone_inscription{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top : 2%;
    margin-left : 25%;
    margin-right : 25%;
    padding-top : 2%;
    padding-bottom : 2%;
    text-align : center;
    border : 3px solid rgb(85, 174, 177);
    border-radius : 50% 20% / 10% 40%;
    box-shadow:
        0 2.8px 2.2px #F0E01C,
        0 6.7px 5.3px #36F01C,
        0 12.5px 10px #1CF0DA,
        0 22.3px 17.9px #F01C73,
        0 41.8px 33.4px #E31CF0,
        0 100px 80px #1C29F0
    ;
    font-family : "Gill Sans", sans-serif;
    margin-bottom : 4%;
   
}
.connexion{
    grid-column: 1;
}
.title_connect{
    font-size : 25px;
    padding-bottom : 5%;
    text-decoration : underline;
    color : #36F01C;
    font-weight: bold;
}
input{
    width: 82%;
    box-sizing: border-box;
    margin-bottom : 2%;
}
label{
    color : #fff;
    font-weight: bold;
}
.button{
    margin-top : 5%;
    width : 40%;
    background : #1CF0DA;
    color : #000;
    font-weight: bold;
    padding : 1%;
}
.button:hover{
    background : #F01C73;
    color : #fff;
}


.inscription{
    grid-column: 2;
}