.menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family : "Gill Sans", sans-serif;
    position : fixed;
    padding-top : 0.5%;
    width : 100%;
    height : 4%;
    text-align : center;
    background-color: #355D85;
    
}
table{
    padding-top : 4%;
    padding-left : 10%;
    padding-right : 10%;
    width : 100%;
    text-align : center;
}
th{
    padding : 2%;
    width : 4%;
    background-color : #9DA9C2;
}
td{
    padding : 1%;
    width : 4%;
    background-color : #CCD4E3;
}
a{
    color : #000;
}