body{
    margin : none;
    font-family : Optima, sans-serif;
 }
 .menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family : "Gill Sans", sans-serif;
    padding-top : 0.5%;
    width : 100%;
    height : 4%;
    text-align : center;
    background-color: #355D85;
   
 }
 a{
    color : #fff;
 }
 .infoUtilisateur{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top : 5%;
 }
 .name{
    font-size : 1.6em;
    font-weight: bold;
 }
 img{
    margin-left : 35%;
    border : solid 3px #000;
    padding : 2%;
 }
 .info{
    margin-right : 30%;
    margin-top : 4%;
    font-size : 1.5em;
    text-align :center;
 }
 .changeInfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }
 form{
    margin-top : 3%;
    margin-left : 3%;
    margin-right : 20%;
    text-align : center;
 }
  
 input{
    margin-top : 0.5%;
    margin-bottom : 1%;
 }
 .titreChange{
    grid-column : 1/3;
    font-size : 1.3em;
    text-align : center;
    font-weight: bold;
 }
 .form2Orga{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }
 .tab{
    grid-column : 1;
 }
 .butChangeAd{
    grid-column : 1/3;
    margin-left : 40%;
    margin-right : 40%;
 }
 