.nbMb{
    padding-left : 1%;
    width: auto;
}

.nbMb2{
    width : 5%;
}

.press{
    margin-top : 4%;
}

label.membre {
    padding-left: 5%;
    width: auto;
    margin-right: 1%;
}

input.membre {
    width: 25%;
}
